@model WebApplicationQLKS.Models.Room

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@Html.ValidationMessage("ExistName", new { @class = "text-danger" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Room</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoomName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoomName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeID, "TypeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8">
                @Html.ActionLink("Thêm loại phòng", "Create", "RoomType", "RoomType", new { @class = "btn btn-primary" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, "StatusID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
                <input type="hidden" id="minroom" value=@ViewBag.minroom>
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8">
                @Html.ActionLink("Thêm trạng thái", "Create", "RoomStatus", "RoomStatus", new { @class = "btn btn-primary" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        $('#RoomName').change(function () {
            var room = $('#RoomName').val()
            var type = $('#TypeID').val()
            var status = $('#StatusID').val()
            if (room <= 100 || room > 999) {
                alert('Tên phòng phải từ 101 đến 999')
                $('#RoomName').val('')
            }
        })
    });
</script>
